<div class="form_input">
    <div class="lang_colum clen">
        <div class="lang_cols">
            <label for="en_lang" class="lang_colums active _radio_lang _cont_def_click" data-name="en">English</label>
            <input id="en_lang" class="radio_lang  onoffswitch-checkbox " style="display: none" checked  type="radio" name="lang" data-name="en">
        </div>

        <div class="lang_cols">
            <label for="rus_lang" class="lang_colums _radio_lang" data-name="ru">Русский</label>
            <input id="rus_lang" class="radio_lang  onoffswitch-checkbox " style="display: none"   type="radio" name="lang" data-name="ru">
        </div>
    </div>
</div>