<div id="menu">
        <!--<div class='user_panel'>-->
            <!--<div class="pull-left image">-->
                <!--<img src="<?//= $baseurl ?>/assets/images/user/1.jpg" class="img-circle" alt="User Image">-->
            <!--</div>-->
            <!--<div class="pull-left info">-->
                <!--<p>GYM</p>-->
                <!--<a href="#"><i class="fa fa-circle"></i> Online</a>-->
            <!--</div>-->
        <!--</div>-->
    <ul class='sidebar-menu'>
        <li class='header'>..........</li>
        <a href='/ligas'>
            <li class="menuli">
                <i class="inline_menu fa fa-bars" aria-hidden="true"></i>
                <span class="menu_text inline_menu">Все лиги</span>
            </li>
        </a>
        <a href='/teams'>
            <li class="menuli">
                <i class="inline_menu fa fa-bars" aria-hidden="true"></i>
                <span class="menu_text inline_menu">Все Команды</span>
            </li>
        </a>
        <a href='/forecasts'>
            <li class="menuli">
                <i class="inline_menu fa fa-bars" aria-hidden="true"></i>
                <span class="menu_text inline_menu">Прогнозы</span>
            </li>
        </a>
        <a href='/news'>
            <li class="menuli">
                <i class="inline_menu fa fa-bars" aria-hidden="true"></i>
                <span class="menu_text inline_menu">Новости</span>
            </li>
        </a>
        <a href='/subscribings'>
            <li class="menuli">
                <i class="inline_menu fa fa-bars" aria-hidden="true"></i>
                <span class="menu_text inline_menu">Подписки</span>
            </li>
        </a>
        <a href='/about'>
            <li class="menuli">
                <i class="inline_menu fa fa-bars" aria-hidden="true"></i>
                <span class="menu_text inline_menu">О нас</span>
            </li>
        </a>
    </ul>
</div>
