<div class='box'>
    <div class='box_header'>
        <h3 class="box-title">SEO instrument</h3>
        <div class="box-tools">
            <button type="button" class="minresize_box setsize"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class='box_edit box_ck'>
        <div class="form_input foren">
            <div class="form_input"  data-lnag="en">
                <label>SEO Title</label>
                <div class="input_group">
                    <div class="input_img"><i class="fa fa-external-link"></i></div>
                    <input
                            type="text"
                            class="input_text"
                            name='seo_title_en'
                            value="<% if(typeof data !== 'undefined'){ %><%=data[0]['seo_title_en']%><%}else{ }%>"
                    >
                </div>
            </div>
            <div class="form_input"  data-lnag="en">
                <label>SEO Description</label>
                <div class="input_group">
                    <div class="input_img"><i class="fa fa-external-link"></i></div>
                    <input
                            type="text"
                            class="input_text"
                            name='seo_desc_en'
                            value="<% if(typeof data !== 'undefined'){ %><%=data[0]['seo_desc_en']%><%}else{ }%>"
                    >
                </div>
            </div>
            <div class="form_input"  data-lnag="en">
                <label>SEO Text</label>
                <div class="input_group">
                    <div class="input_img"><i class="fa fa-external-link"></i></div>
                    <input
                            type="text"
                            class="input_text"
                            name='seo_text_en'
                            value="<% if(typeof data !== 'undefined'){ %><%=data[0]['seo_text_en']%><%}else{ }%>"
                    >
                </div>
            </div>
        </div>
        <div class="form_input forru">
            <div class="form_input"  data-lnag="en">
                <label>SEO Title</label>
                <div class="input_group">
                    <div class="input_img"><i class="fa fa-external-link"></i></div>
                    <input
                            type="text"
                            class="input_text"
                            name='seo_title_ru'
                            value="<% if(typeof data !== 'undefined'){ %><%=data[0]['seo_title_ru']%><%}else{ }%>"
                    >
                </div>
            </div>
            <div class="form_input"  data-lnag="en">
                <label>SEO Description</label>
                <div class="input_group">
                    <div class="input_img"><i class="fa fa-external-link"></i></div>
                    <input
                            type="text"
                            class="input_text"
                            name='seo_desc_ru'
                            value="<% if(typeof data !== 'undefined'){ %><%=data[0]['seo_desc_ru']%><%}else{ }%>"
                    >
                </div>
            </div>
            <div class="form_input"  data-lnag="en">
                <label>SEO Text</label>
                <div class="input_group">
                    <div class="input_img"><i class="fa fa-external-link"></i></div>
                    <input
                            type="text"
                            class="input_text"
                            name='seo_text_ru'
                            value="<% if(typeof data !== 'undefined'){ %><%=data[0]['seo_text_ru']%><%}else{ }%>"
                    >
                </div>
            </div>
        </div>
    </div>
</div>