
<%- include ../default/header.ejs %>

<%- include ../default/menu.ejs %>

<div id='content'>
    <%- include ../default/lang.ejs %>
    <form action='' method='POST' enctype="multipart/form-data">
        <div class='box'>
            <div class='box_header'>
                <h3 class="box-title"><%if(typeof data!='undefined'){%><%=data[0]['name_en']%><%}else{%><%='Add Team'%><%}%></h3>
                <div class="box-tools">
                    <button type="button" class="minresize_box setsize"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box_edit box_ck">
                <div class="form_input">
                    <div class="form_input">
                        <div class="input_group clen">
                            <div class="chose_file _chose_file">CHOOSE FILE</div>
                            <div class='foto_block forempty child_ab'>
                                <img src="<%if(typeof data!='undefined'){%><%='/images/teams/'+data[0]['image']%><%}else{%><%='/images/front/no-image.svg'%><%}%>">
                                <input style="display: none" type="file" name="image" class="img_file ab_img_f" >
                                <div class='full_foto'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box_edit box_ck">
                <div class="form_input">
                    <div class="form_input">
                        <div class="input_group clen">
                            <% allLeague.forEach(function(ligas){ %>
                                <div>
                                    <label>
                                        <input
                                                type="checkbox"
                                                value="<%=ligas['id']%>"
                                                name="league[]"
                                                <% if(typeof thisTeamLigas != "undefined"){ %>
                                                <% if(thisTeamLigas.indexOf(ligas['id']) != -1){ %> <%='checked'%> <%}else{%> <%=''%> <%}%>
                                                <%}%>
                                            >
                                        <%=ligas['name_en']%>
                                    </label>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box_edit select_b_ed box_ck">
                <div class="box_edit box_ck">
                    <div class="form_input board_pro_item">
                        <div class="foren"><b>Name of Team</b></div>
                        <div class="forru"><b>Имя Команды</b></div>
                        <div class="input_img"><i class="fa fa-pencil"></i></div>
                        <input
                                type="text"
                                class="input_text foren"
                                name='name_en'
                                placeholder="Name"
                                value="<%if(typeof data!='undefined'){%><%=data[0]['name_en']%><%}else{%><%=''%><%}%>"
                        >
                        <input
                                type="text"
                                class="input_text forru"
                                name='name_ru'
                                placeholder="Имя Команды"
                                value="<%if(typeof data!='undefined'){%><%=data[0]['name_ru']%><%}else{%><%=''%><%}%>"
                        >
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <!--<div class='box'>-->
        <!--<div class='box_header'>-->
        <!--<h3 class="box-title">Картинки</h3>-->
        <!--<div class="box-tools">-->
        <!--<button type="button" class="minresize_box setsize"><i class="fa fa-minus"></i></button>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="box_edit select_b_ed box_ck">-->
        <!--<div class="box_edit box_ck">-->
        <!--<div class="form_input">-->
        <!--<div class="form_input">-->
        <!--<div class="input_group clen">-->
        <!--<div class="chose_file _chose_file">CHOOSE FILE</div>-->
        <!--<div class='foto_block forempty child_ab'>-->
        <!--<img src='' />-->
        <!--<input style="display: none" type="file" name="image" class="img_file ab_img_f" >-->
        <!--<div class='full_foto'></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="form_input a_form_butt">
            <div class="input_group clen">
                <!--                <div class="input_img forsave"><i class="fa fa-floppy-o"></i></div>-->
                <button class='save' for='main_form'>Сохранить</button>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {

        $('#product_item table').DataTable({
            bPaginate: false,
            language: {
                searchPlaceholder: "Search"
            }
        });

        /* multy preview */
        $( "._foto_block_multy" ).click(function() {
            $(this).children(".img_file_multy" )[0].click();
        });


        $('#filtr_name').on('change', function(evt, params) {
            console.log('evt',$(this).data('name'));
            console.log('evt',evt);
            console.log('params',params);
            if(params.selected != 'undefined'){
                var url = base+"/product/filtr/"+params.selected+"/";
                requestGet(url,function () {
                    if (this.readyState === 4) {
                        var result = JSON.parse(this.responseText);
                        addFiltrs(result)
                    }
                })
            }else if(params.deselected != 'undefined'){

            }
        });

        function addFiltrs(param) {
            if(param.data.length > 0) {
                var perepend = '';
                perepend += "<div class='filtrs_colum'><p class='filtrs_title'>" + param.filtr_name['name_arm'] + "</p>";
                for (var i = 0; i < param.data.length; i++) {
                    perepend +=   "<ul class='filtr_ul'>" +
                        "<li class='filtr_li'>" +
                        "<input id='" + param.data[i]['id'] + "' class='filtr_change' data-pid='"+param.filtr_name['id']+"' value='" + param.data[i]['id'] + "' type='checkbox'>" +
                        "</li>" +
                        "<li class='filtr_li'>" +
                        "<label for='" + param.data[i]['id'] + "'>" + param.data[i]['name_arm'] + "</label>" +
                        "</li>" +
                        "</ul>";

                }
                perepend += "</div>";
                $("#all_pro_filtr").prepend(perepend);
            }
        }

        $(document).on("change",".filtr_change",function() {
            var addOrRe = '';
            if($(this).prop("checked")){
                addOrRe = 'add';
            }else{
                addOrRe = 'delete';
            }
            var filtr_id = $(this).val();
            var filtr_name_id = $(this).data('pid');
            var url = base+"/product/filtr/"+addOrRe+"/<?= isset($params['update']) && is_numeric($params['update']) ? $params['update'] : '0' ?>/";
            var body = "filtr_id="+filtr_id+"&filtr_name_id="+filtr_name_id+"";
            requestPost(url,body,function () {
                if (this.readyState === 4) {
                    //var result = JSON.parse(this.responseText);
                }
            })
        })

        function renderImage(file,x){
            var reader = new FileReader();
            reader.onload = function(event){
                the_url = event.target.result;
                appendBody = "<div class='gal_img_col sprite_col add_new_sp'>" +
                    "<img src='"+the_url+"' alt=''>" +
                    "</div>";
                $("#sort_sprite").append(appendBody);
            }
            reader.readAsDataURL(file);
        }

        $( ".img_file_multy" ).change(function() {
            $(".add_new_sp").remove();
            for (var i = 0; i < this.files.length; i++) {
                renderImage(this.files[i], this)
            }
        });
        /* multy preview */

        $(".filt_select").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });

        var config = {
            '.chosen-select'           : {no_results_text: "Oops, nothing found!", width: "100%"},
            '.chosen-select-deselect'  : { allow_single_deselect: true },
            '.chosen-select-no-single' : { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-rtl'       : { rtl: true },
            '.chosen-select-width'     : { width: '95%' }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }


        $('.delete_img_gall').click(function () {
            if(!confirm("Are you sure delete this image?")){return false;}
            var self = $(this);

            var contr = $(this).data('get');
            var url = base+"/product/sprite/delete/";

            var id = $(this).data('id');
            var body = "id="+$(this).data('id')+"";
            requestPost(url,body,function(){
                if(this.readyState == 4){
                    var result = JSON.parse(this.responseText);
                    if(result.error){
                        self.parent('.gal_img_col').fadeOut();
                    }else{

                    }
                }
            })
        })
    })

</script>

<%- include ../default/footer.ejs %>
