<!DOCTYPE html>
<html>
<head>
    <title>DFC777</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/font-awesome.min.css">
</head>
<body>
    <div id='mainForm'>
        <div class="log_head">
            <p class="log_title">Welcome</p>
            <p class="log_text">to DFC777 Dashboard!</p>
        </div>
        <div id='div_form'>
            <form id='form' action='/login' method='post'>
                <div id="login">
                    <div class='input_user'>
                        <input id="log" class="input" type="text" name="login" placeholder="Login">
                        <span class='icon_input'><i class="fa fa-user"></i></span>
                    </div>
                    <div class='input_user'>
                        <input id="pass" class="input" type="password" name="password" placeholder="password">
                        <span class='icon_input'><i class="fa fa-lock"></i></span>
                    </div>
                    <button id='login_but' for="form">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
