<%- include ../default/header.ejs %>

<%- include ../default/menu.ejs %>

<div id='content'>

    <div id='table_div'>
        <div class="table_head_main">
            <div class="table_main_head clen">
                <div class='table_head'>
                    <h3></h3>
                </div>
                <div class='table_head_name'>
                    <h1>Прогнозы </h1>
                </div>
                <div class='table_head fnone'>
                    <div class="form_input">
                        <div class="input_group add_project">
                            <a href='/forecasts/add/' class='save'>добавить </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ex_filtrs_col clen"></div>


        <table>
            <thead>
            <tr>
                <th class='table_num'>#</th>
                <th class='w_10'>имя</th>
                <th class='w_10'>Удачный или нет</th>
                <th class='w_10'>data end</th>
                <th class='table_action last_th'>Action</th>
            </tr>
            </thead>
            <tbody id="main_tbody" data-table=''>
            <%
            var numbered = 0;
            data.forEach(function(info){
                numbered ++;
            %>
            <tr id='m_<%=info['id']%>'>
                <td>
                    <span><%=numbered %></span>
                </td>
                <td>
                    <a href='/forecasts/edit/<%=info['id']%>'>
                        <span class="table_imgae"><%=info['title_en']%></span>
                    </a>
                </td>

                <td>
                    <% if(info['status'] != null){ %>
                    <span class="table_imgae">
                        <%if(info['status'] == 0){ 'ne udacha'%>
                        <span class="table_imgae suc_res_main no_suc_res">Не Удачный</span>
                        <%}else{%>
                            <span class="table_imgae suc_res_main suc_res"> Удачный </span>
                        <%}%>
                    </span>
                    <% }else{ %>
                        <span class="table_imgae ">Не Определено</span>
                    <% } %>
                </td>



                <td>
                    <a href='/forecasts/edit/<%=info['id']%>'>
                        <span class="table_imgae">
                            <%if(info['date_end'] < todayDate){%>
                                <span class="date_is_over"></span>
                            <% } %>
                            <%if(info['date_end'] == todayDate){%>
                                <span class="date_is_now"></span>
                            <% } %>
                            <%=info['date_end']%>
                        </span>
                    </a>
                </td>
                <td class='last_td'>
                    <a href='/forecasts/edit/<%=info['id']%>'>
                        <span class='action_td'>
                            <img src="/images/icons/edit.png" alt="">
                        </span>
                    </a>
                    <span class='action_td action_delete' data-id="<%=info['id']%>" data-get='forecasts'>
                        <img src="/images/icons/delete_icon.png" alt="">
                    </span>
                    <span class='action_td sorttable'>
                        <img src="/images/icons/rearrange_icon_dark.png" alt="">
                    </span>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#main_tbody').sortable({
            axis: "y",
            handle: '.sorttable',
            update: function () {
                ords = $(this).sortable("toArray");
                var url = "/forecasts/sort/";
                var body = "ords="+ords+"";
                requestPost(url,body,function(){
                    if(this.readyState == 4){
                        var result = JSON.parse(this.responseText);
                        if(result.error){

                        }else{

                        }
                    }
                })
            }
        });
    });

</script>


