
<%- include ../default/header.ejs %>

<%- include ../default/menu.ejs %>

<div id='content'>
    <%- include ../default/lang.ejs %>
    <form action='' method='POST'>
        <div class='box'>
            <div class='box_header'>
                <h3 class="box-title">Добавить прогноз</h3>
                <div class="box-tools">
                    <button type="button" class="minresize_box setsize"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box_edit select_b_ed box_ck">
                <div class="box_edit box_ck">
                    <div><b>Платный или нет</b>
                        <input
                                type="checkbox"
                                name="need_pay"
                                <%if(data[0]['need_pay'] == '1'){%><%='checked' %><%}%>
                        >
                    </div>
                    <div class="form_input board_pro_item"></div>
                </div>
                <%if(data[0]['date_end'] < todayDate){%>
                <div class="box_edit box_ck">
                    <div><b>Удачный или нет</b>
                        <input
                                type="checkbox"
                                name="status"
                                <%if(data[0]['status'] == '1'){%><%='checked' %><%}%>
                        >
                    </div>
                    <div class="form_input board_pro_item"></div>
                </div>
                <div class="box_edit box_ck">
                    <div class="form_input board_pro_item">
                        <div><b>Щет матча</b></div>
                        <div class="input_img"><i class="fa fa-pencil"></i></div>
                        <input
                                type="text"
                                class="input_text"
                                name='score'
                                placeholder="Щет"
                                value="<%if(typeof data!='undefined'){%><%=data[0]['score']%><%}else{%><%=''%><%}%>"
                        >
                    </div>
                </div>

                    <% } %>
                <div class="box_edit box_ck">
                    <div><b>Выберите лигу</b></div>
                    <div class="form_input board_pro_item">
                        <select name="lid" class="all_leg_selects __change_teams_list">
                            <%  allLigas.forEach(function(ligas){ %>
                            <option <%if(ligas['id'] == data[0]['lid']){%><%='selected' %><%}%> value="<%=ligas['id']%>"><%=ligas['name_en']%></option>
                            <% }) %>
                        </select>
                    </div>

                </div>
                <div  id="check_add" class="box_edit box_ck">
                    <div ><b>Выберите команды</b></div>
                    <div class="form_input board_pro_item select_teams_item_main">
                        <div class="select_teams_item ">
                            <div>P1</div>
                            <select name="t1_id" class="teams_added">
                                <%  teams.forEach(function(teams){ %>
                                    <option
                                            <%if(teams['tid'] == data[0]['t1_id']){%><%='selected'%><%}%>
                                            value="<%=teams['tid']%>"
                                    ><%=teams['teams_name']%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="select_teams_item" >
                            <div>P2</div>
                            <select name="t2_id" class="teams_added">
                                <%  teams.forEach(function(teams){ %>
                                <option
                                        <%if(teams['tid'] == data[0]['t2_id']){%><%='selected'%><%}%>
                                        value="<%=teams['tid']%>"
                                ><%=teams['teams_name']%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box_edit box_ck">
                    <div class="form_input board_pro_item">
                        <div class="foren"><b>Name of News</b></div>
                        <div class="forru"><b>Имя Новости</b></div>
                        <div class="input_img"><i class="fa fa-pencil"></i></div>
                        <input
                                type="text"
                                class="input_text foren"
                                name='title_en'
                                placeholder="Name"
                                value="<%if(typeof data!='undefined'){%><%=data[0]['title_en']%><%}else{%><%=''%><%}%>"
                        >
                        <!--<textarea></textarea>-->
                        <input
                                type="text"
                                class="input_text forru"
                                name='title_ru'
                                placeholder="Имя Лиги"
                                value="<%if(typeof data!='undefined'){%><%=data[0]['title_ru']%><%}else{%><%=''%><%}%>"
                        >

                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box_edit box_ck">
                    <div class="form_input board_pro_item">
                        <div class="foren"><b>Text</b></div>
                        <div class="forru"><b>Текст</b></div>
                        <div class="input_img"><i class="fa fa-pencil"></i></div>
                        <textarea
                                rows="6"
                                class="input_text foren"
                                name='desc_en'
                                placeholder="Name"
                        ><%if(typeof data!='undefined'){%><%=data[0]['desc_en']%><%}else{%><%=''%><%}%></textarea>

                        <textarea
                                rows="6"
                                class="input_text forru"
                                name='desc_ru'
                                placeholder="Имя Лиги"
                        ><%if(typeof data!='undefined'){%><%=data[0]['desc_ru']%><%}else{%><%=''%><%}%></textarea>
                    </div>
                    <div class="box_edit box_ck">
                        <div class="form_input board_pro_item">
                            <label>День завершения игры</label>
                            <input class="forecast_dates" value="<%=data[0]['date_end']%>" type="date" name="date_end"  />
                        </div>
                    </div>
                    <div class="box_edit box_ck">
                        <div class="form_input board_pro_item">
                            <label>Время завершения игры</label>
                            <input class="forecast_dates"  value="<%=data[0]['time_end']%>" type="time" name="time_end">
                        </div>
                    </div>
                </div>
                <div class="box_edit box_ck">
                    <div class="form_input board_pro_item add_prop_row_main">
                        <div class="add_prop_row_title">
                            <div class="foren"><b>Add forecasts</b></div>
                            <div class="forru"><b>Добавить прогнозs</b></div>
                            <div class="add_new_prop save __add_rows_prop">
                                +
                            </div>
                        </div>
                        <div class="">
                            <%  forecastItems.forEach(function(forecastItem){ %>
                            <div class="" id="__row_<%=forecastItem['id']%>">
                                <div class="foren">
                                    <div class="add_prop_row ">
                                        <div class="prop_name">
                                            <input type="text" required name="game_props_en" value="<%=forecastItem['text_opt_en']%>" placeholder="Property name" />
                                        </div>
                                        <div class="prop_name">
                                            <input type="text" required   name='game_values_en'  value="<%=forecastItem['text_res_en']%>"  placeholder="Property" />
                                        </div>
                                    </div>
                                </div>
                                <div class="forru">
                                    <div class="add_prop_row ">
                                        <div class="prop_name">
                                            <input type="text" required  name="game_props_ru" value="<%=forecastItem['text_opt_ru']%>" placeholder="Имя прогноза" />
                                        </div>
                                        <div class="prop_name">
                                            <input type="text" required   name='game_values_ru'  value="<%=forecastItem['text_res_ru']%>" placeholder="Прогноз" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="form_input a_form_butt">
            <div class="input_group clen">
                <button class='save'>Сохранить</button>
            </div>
        </div>
    </form>
</div>

<script>
    var todayDates ="<%= todayDate %>";
    console.log('todayDates',todayDates);

    $(document).ready(function () {
        /* multy preview */
        $( "._foto_block_multy" ).click(function() {
            $(this).children(".img_file_multy" )[0].click();
        });

        $('.__change_teams_list').change(function () {
            var lId = $(this).children("option:selected").val();
            var url = "/forecasts/teams/select/";
            var body = "lId="+lId+"";
            requestPost(url,body,function(){
                if(this.readyState == 4){
                    var result = JSON.parse(this.responseText);
                    if(!result.error){
                        var teams = result.data.data;
                        if(teams.length > 1){
                            $('#check_add').css({'display':'block'})
                            var teamsContent = '';
                            for(var i = 0;  i < teams.length; i++){
                                teamsContent+= "<option value='"+teams[i].tid+"'>"+teams[i].teams_name+"</option>";
                            }
                            $('.teams_added').html(teamsContent);
                        }else{
                            alert('nedostatochno komand')
                        }

                    }else{
                        alert('error')
                    }
                }
            })
        })
        $('.__add_rows_prop').click(function () {
            // var resConent = '';
            var addContent = '' +
                "<div class=''>" +
                "<div class='foren'>" +
                "<div class='add_prop_row '>" +
                "<div class='prop_name'>" +
                "<input required  type='text' name='game_props_en' placeholder='Property name' />" +
                "</div>" +
                "<div class='prop_name'>" +
                "<input required  type='text'  name='game_values_en' placeholder='Property' />" +
                "</div>" +
                "</div>" +
                "</div>" +
                "<div class='forru'>" +
                "<div class='add_prop_row '>" +
                "<div class='prop_name'>" +
                "<input required  type='text' name='game_props_ru' placeholder='Имя прогноза' />" +
                "</div>" +
                "<div class='prop_name'>" +
                "<input required  type='text'  name='game_values_ru' placeholder='Прогноз' />" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>";
            // var nowContent = $('.add_prop_row_main').html() ;
            // resConent = nowContent += addContent;
            // console.log('nowContent',nowContent);
            // $('.add_prop_row_main').html(resConent);

            $('.add_prop_row_main').append(addContent);
        })
    })

</script>

<%- include ../default/footer.ejs %>
<style>
    .all_leg_selects{
        padding: 7px 10px;
        border: 1px solid #e6e7eb;
        border-radius: 3px;
        outline: none;
    }
    .select_teams_item > select{
        outline: none;
        padding: 10px;
        margin: 3px;
    }

</style>