<%- include ../default/header.ejs %>

<%- include ../default/menu.ejs %>

<div id='content'>

    <div id='table_mdiv'>
        <div class="table_head_main">
            <div class="table_main_head clen">
                <div class='table_head'>
                    <h3></h3>
                </div>
                <div class='table_head_name'>
                    <h1>Подписки </h1>
                </div>

            </div>
        </div>

        <div class="ex_filtrs_col clen"></div>


        <table>
            <thead>
            <tr>
                <!--<th class='w_10'>Name</th>-->
                <!--<th class='w_10'>Name Ru</th>-->
                <!--<th class='w_10'>Lable</th>-->
                <!--<th class='w_10'>Lable Ru</th>-->
                <!--<th class='w_10'>Price</th>-->
                <!--<th class='w_10'>Active Days</th>-->
            </tr>
            </thead>
            <tbody data-table=''>
            <tr>
                <td>
                    <div class="g_td_f">Title</div>
                    <div class="g_td_f">Загаловок</div>
                    <div class="g_td_f">Lent</div>
                    <div class="g_td_f">Лента</div>
                    <div class="g_td_f">Цена</div>
                    <div class="g_td_f">Активные Дни</div>
                </td>

                <%
                data.forEach(function(info){
                %>
                    <td>
                        <form method="post" action="/subscribings/<%=info['id']%>" id="m_save_<%=info['id']%>">
                            <div class="g_td_d"><input required type="text" name="title_en" value="<%=info['title_en']%>"></div>
                            <div class="g_td_d"><input required type="text" name="title_ru" value="<%=info['title_ru']%>"></div>
                            <div class="g_td_d"><input type="text" name="label_en" value="<%=info['label_en']%>"></div>
                            <div class="g_td_d"><input type="text" name="label_ru" value="<%=info['label_ru']%>"></div>
                            <div class="g_td_d"><input required type="text" name="price" value="<%=info['price']%>"></div>
                            <div class="g_td_d"><input required type="text" name="active_days" value="<%=info['active_days']%>"></div>
                            <div class="g_td_d"><button for="m_save_<%=info['id']%>">SAVE</button></div>
                        </form>
                    </td>
                <% }) %>
            </tr>
            </tbody>
        </table>

    </div>

    <div id='table_div'>

        <div class="ex_filtrs_col clen"></div>
        <div class="table_main_head clen">
            <div class="table_head">
                <h3></h3>
            </div>
            <div class="table_head_name">
                <h1>Строки Подписок </h1>
            </div>

        </div>
        <table>
            <thead>
            <tr>
                <th class='w_10'>#</th>
                <th class='w_10'>имя</th>
                <th class='w_10'>Name</th>
                <th class='table_action last_th'>Action</th>
            </tr>
            </thead>
            <tbody id="main_tbody" data-table=''>
            <tr>
                <form method="post" action="/subscribings/add/row" id="save_row_g">
                    <td>
                        <span></span>
                    </td>
                    <td>
                       <input class="add_p_r_g" type="text" name="name_en" placeholder="Name">
                    </td>
                    <td>
                        <input class="add_p_r_g" type="text" name="name_ru" placeholder="имя">
                    </td>
                    <td class='last_td'>
                        <button class="save_row_g" for="save_row_g">SAVE</button>
                    </td>
                </form>
            </tr>
            <%
            var numbered = 0;
            subscribingsRows.forEach(function(sRows){
                numbered ++;
            %>
            <tr id='m_<%=sRows['id']%>'>
                <td>
                    <span><%=numbered %></span>
                </td>
                <td>
                    <span class="table_imgae"><%=sRows['name_en']%></span>
                </td>
                <td>
                    <span class="table_imgae"><%=sRows['name_ru']%></span>
                </td>
                <td class='last_td'>
                    <span class='action_td action_delete_row' data-id="<%=sRows['id']%>" data-get='subscribings'>
                        <img src="/images/icons/delete_icon.png" alt="">
                    </span>
                    <span class='action_td sorttable'>
                        <img src="/images/icons/rearrange_icon_dark.png" alt="">
                    </span>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {

        $(document).on("click",".action_delete_row",function() {
            if(!confirm("Do you really want to delete?")){return false;}
            var self = $(this);

            var datGet = $(this).data('get');
            var datPage = $(this).data('page');
            var url = "";
            if(typeof datPage != "undefined" && datPage != ""){
                url = "/"+datGet+"/"+datPage+"/delete/rows/";
            }else{
                url = "/"+datGet+"/delete/rows/";
            }

            var id = $(this).data('id');
            var body = "id="+id+"";
            requestPost(url,body,function(){
                if(this.readyState == 4){
                    var result = JSON.parse(this.responseText);
                    if(!result.error){
                        self.parent('td').parent('tr').fadeOut();
                    }else{

                    }
                }
            })
        });



        $('#main_tbody').sortable({
            axis: "y",
            handle: '.sorttable',
            update: function () {
                ords = $(this).sortable("toArray");
                ords.shift();
                var url = "/subscribings/sort/orderings/";
                var body = "ords="+ords+"";
                requestPost(url,body,function(){
                    if(this.readyState == 4){
                        var result = JSON.parse(this.responseText);
                        if(result.error){

                        }else{

                        }
                    }
                })
            }
        });


    });
</script>


<style>
    .g_td_d{
        height: 30px;
        /* border-bottom: 1px solid; */
        display: flex;
        margin: 4px;
    }
    .g_td_f{
        height: 30px;
        /*border-bottom: 1px solid;*/
        margin: 4px;
    }
    tbody td {
        /*vertical-align: middle;*/
        border-left: 1px solid #e4e4e4 !important
    }
    tbody td:first-child  {
        /*vertical-align: middle;*/
        border-left: none !important;
    }
    .g_td_d > input{
         width: 100%;
    }
    .g_td_d > button{
        display: flex;
        background: #63c9f7;
        flex: 1;
        color: #ffffff;
        cursor: pointer;
        border-radius: 3px;
        align-items: center;
        height: 30px;
        justify-content: space-around;
        margin-top: 5px;
        border: none;
        outline: none;
    }
    .g_td_d > button:hover{
        background: #3d6c88;
    }
    .save_row_g{
        display: flex;
        background: #63c9f7;
        flex: 1;
        color: #ffffff;
        cursor: pointer;
        border-radius: 3px;
        align-items: center;
        height: 30px;
        justify-content: space-around;
        margin-top: 5px;
        border: none;
        outline: none;
        width: 100%;
    }
    .save_row_g:hover{
        background: #3d6c88;
    }
    .add_p_r_g{
        border: none;
        border-bottom: 1px solid #cccccc;
        display: flex;
        align-items: center;
        padding: 7px;
        flex: 1;
        width: 90%;
        outline: none;
    }
    div#DataTables_Table_0_length, #DataTables_Table_0_filter, #DataTables_Table_0_info, #DataTables_Table_0_paginate{
        display: none !important;
    }
</style>