
<%- include ../default/header.ejs %>

<%- include ../default/menu.ejs %>

<div id='content'>
    <%- include ../default/lang.ejs %>
    <form action='' method='POST'>
        <div class='box'>
            <div class='box_header'>
                <h3 class="box-title"><%if(typeof data!='undefined'){%><%=data[0]['name_en']%><%}else{%><%='Add League'%><%}%></h3>
                <div class="box-tools">
                    <button type="button" class="minresize_box setsize"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box_edit select_b_ed box_ck">
                <div class="form_input  foren">
                    <div class="box_edit box_ck ">
                        <div class="foren"><b>Content in English</b></div>
                        <textarea
                                class="input_text foren"
                                name='content_en'
                                id="ck_one"
                        ><%if(typeof data!='undefined'){%><%=data[0]['content_en']%><%}else{%><%=''%><%}%></textarea >
                    </div>
                </div>
                <div class="form_input  forru">
                    <div class="box_edit box_ck ">
                        <div class="forru"><b>Контент на Русском</b></div>
                        <textarea
                                class="input_text forru"
                                name='content_ru'
                                id="ck_two"
                        ><%if(typeof data!='undefined'){%><%=data[0]['content_ru']%><%}else{%><%=''%><%}%></textarea >
                    </div>
                </div>


                <div class="clear"></div>
            </div>
        </div>

        <div class="form_input a_form_butt">
            <div class="input_group clen">
                <button class='save' >Сохранить</button>
            </div>
        </div>
    </form>
    <div class="box">
        <div class="box_edit box_ck">
            <div class="form_input">
                <label>Upload images About us Content(.jpg,.png)</label>
                <div class="input_group clen">
                    <div class="chose_file _chose_file">CHOOSE FILE</div>
                    <div class='foto_block foto_block_g forempty child_ab'>
                        <input style="display: none" name="images_for_ck" type="file"  id="filesToUpload" onchange="makeFileList();" multiple="multiple"  class="img_file ab_img_f img_file" >
                        <!--<div class='full_foto'></div>-->
                    </div>
                </div>
                <div class="clear">
                    <div class="appended_images" id="append_in_imagess">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        CKEDITOR.replace( 'ck_one' );
        CKEDITOR.replace( 'ck_two' );
        // $('#ck_one').ckeditor();
        // $('#ck_two').ckeditor();

        /* multy preview */
        $( "._foto_block_multy" ).click(function() {
            $(this).children(".img_file_multy" )[0].click();
        });

        $('._del_gal_img').click(function () {
            if(!confirm("Are you sure delete this image?")){return false;}
            var self = $(this);
            var url = "/portfolio/slide/delete/sl";
            var id = $(this).data('galid');
            var body = "id="+id+"&tipId=1";
            console.log('url',url)
            console.log('body',body)
            requestPost(url,body,function(){
                if(this.readyState == 4){
                    var result = JSON.parse(this.responseText);
                    console.log('result',result)
                    if(!result.error){
                        self.parent('.kk_'+id).fadeOut();
                    }else{

                    }
                }
            })

        })
    })
    function makeFileList() {
        var input = document.getElementById("filesToUpload");
        console.log('input.files',input.files)
        for (var i = 0; i < input.files.length; i++) {
            var imageForm = new FormData();
            imageForm.append("img", input.files[i]);
            uploadImage(imageForm,input.files[i])

        }
    }
    function renderImage(file, fileName){
        var reader = new FileReader();
        reader.onload = function(event){
            console.log('event',event)
            var the_url = event.target.result;
            // console.log('the_url',the_url)
            // var urlName = document.createElement("span");
            var cont = "" +
                "<div>" +
                "   <img src='http://admin.pcfootball.store:3665/images/forck/"+fileName+"' class='app_img'/> " +
                "   <span>http://admin.pcfootball.store:3665/images/forck/"+fileName+"</span>" +
                "</div>";
            var pars = document.createElement("div")
            var para = document.createElement("img");
            para.setAttribute('src','http://admin.pcfootball.store:3665/images/forck/'+fileName+'');
            para.setAttribute('class','app_img');
            pars.appendChild(para);

            var part = document.createElement("span");
            part.textContent = 'http://admin.pcfootball.store:3665/images/forck/'+fileName+'';
            pars.appendChild(part);

            // var newImg = "<img src='"+the_url+"' />";
            // console.log(para)
            var n = document.getElementById("append_in_imagess");
            // var htmlObject = $(cont);
            // console.log('htmlObject',htmlObject)
            n.appendChild(pars)
            // $('.append_in_images').append(para)
            // $(x).prev('img').css('display','block');
            // $(x).prev('img').attr('src',the_url);
        }
        reader.readAsDataURL(file);
    }





    function uploadImage(imageForm, thisFileImg){
        var self = this;
        var url = "/ckimages/images/forck/"
        var xhr = new XMLHttpRequest();
        // обработчик для закачки
        xhr.upload.onprogress = function(event) {
            var procent = 100*event.loaded/event.total;
            // if(!self.mount) {
            //     self.setState({uploadProcent: Math.round(procent)})
            // }
        }
        // обработчики успеха и ошибки
        // если status == 200, то это успех, иначе ошибка
        xhr.onload = xhr.onerror = function() {
            if (this.status == 200) {
                console.log("success");
            } else {
                console.log("error " + this.status);
            }
            // self.setState({uploadProcess:false})
        };
        xhr.onreadystatechange = function () {
            if (this.readyState === 4) {
                var result = JSON.parse(this.responseText);
                if(!result.error){
                    console.log('result',result)
                    console.log('result.imgName',result.imgName)
                    renderImage(thisFileImg, result.imgName);
                    // self.setState({id:result.data.images[0]['id'],serverUrl:result.data.images[0]['img']},function () {
                    //
                    // })
                    // self.props.handelImages(self.state.key,result.data.images[0]['id'],result.data.images[0]['img'])
                    // if(!self.mount) {
                    //
                    // }
                }
            }
        };
        xhr.open("POST", url, true);
        // xhr.setRequestHeader("authorization", AUTH_API);
        // xhr.setRequestHeader("void", this.props.user.token);
        xhr.send(imageForm);
    }


</script>

<%- include ../default/footer.ejs %>
